@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e0b76f;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
